.container {
    padding-top: 55px;
    display: grid;
    align-items: center;
    justify-content: center;
}

#pieCharts {
    margin-top: 55px;
}
#pieCharts > *,
#chartdata > * {
    margin-bottom: 55px;
    border: solid 1px rgb(139, 139, 145);
		box-shadow:  0 0 10px 5px rgba(31, 34, 43, 0.6);
		-moz-box-shadow: 0 0 10px  5px rgba(31, 34, 43, 0.6);
		-webkit-box-shadow: 0 0 10px 5px rgba(31, 34, 43, 0.6);
		-o-box-shadow: 0 0 10px 5px rgba(31, 34, 43, 0.6);
}
.barchart {
    padding-left: 8px;
    margin-top: 81px;
}

ul {
    margin-top: 1em;
}

/* .table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 3px;
    font-weight: bolder;
} */

.copyright-section {
    background-color: #0275d8;
    color: #fff;
    padding: 34px 5px;
    margin-top: 34px;
}

.copyright-section p {
    margin: 0;
}